.folder-list-item {
  border: 1px solid black;
  margin: 1rem;
  width: 18vw;
  text-align: center;
  background-color: white;
}

#go-back-button {
  width: 16vw;
  margin-left: 1vw;
  margin-top: 0.5vw;
  text-align: center;

  background-color: white;
}

#folder-name-left {
  text-align: center;
}

#add-folder {
  border: 1px solid black;
  width: 16vw;
  padding: 0.25rem;
  text-align: center;
  margin: 0.5rem auto;
}

a.folder-list-item,
#add-folder {
  display: block;
}
.highlight {
  background-color: lightcyan;
}
